.skin-blue-light .sidebar-menu li.active {
  border-left: 4px solid #3784b1;
}
.skin-blue-light .sidebar-menu li.active i {
  color: #3c8dbc;
}
.skin-blue-light .sidebar-menu li a {
  font-weight: 400 !important;
}
.skin-blue-light .main-header .logo {
  background-color: #3784b1;
}
.form-group textarea {
  height: 8em;
  max-width: 100%;
}
button {
  margin-left: 5px;
}
.table-action {
  width: 150px;
}
li.header {
  text-align: center;
}
.logo-h,
.wing-left,
.wing-right {
  fill: white;
}
.direct-chat-messages {
  height: 100%;
}
.input-group .input-group-addon {
  background-color: white;
  border-color: white;
  border-bottom-color: #3784b1;
}
.btn {
  font-size: 12px;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
}
