button {
    margin-left: 5px;
}

.table-action{
    width: 150px;
}

li.header {
    text-align: center;
}

.logo-h, .wing-left, .wing-right {
    fill: white;
}

.monitoring-text-area{
    height: 17vh !important ;
    width: 95%;
}

.monitoring-row{
    padding-right: 0px; 
    padding-left: 0px;
}